BASE_URL=http://localhost

JWT_LAB=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzExNTAyLTJeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_LDO=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzM0MTA1LTdeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_PSS=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzYwNTkxLTVeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_RAD=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzY4NjA0LTheXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_RSA=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzExNDg4LTReXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_SING_VACC=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzg3MjczLTleXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_CERT_VACC=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzgyNTkzLTVeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_VPS=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzU5MjU4LTReXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE


JWT_WITH_HASH_LAB=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiMTU2ZmZiMGM0MjYxNjliMmE5MjhiMjdlZjk0MzIzZjU1ODg2OWQ3OWQ5MzEwMDFiNWQwYTcyZjNiZGQ0MDhlYyIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzExNTAyLTJeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_LDO=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiNGFjNTlhOGVjNDgwNzRmMWJhYzViZTE0YWJkODI2YTVkZmJlYjg3ZDdiYWQ4ZTVjMDc0MTRhYzQ2OWY1YzQ2MSIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzM0MTA1LTdeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_PSS=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiMjA5YTZjNmMwMDJhMjViNDlhMjlkMGI3N2I4Y2EzYWQ4ZjMwMmQ2ZjU3MWYzNTI0NDEwMDEyOWNlYTgxNjRhNiIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzYwNTkxLTVeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_RAD=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiMTYwZjA2MGQ1OWQ0YjFmNTAyYWQ0OWRlNjgyOGU0YmIxNzI0ZWFmOTk5N2MwNDA0MDVmOWU3NDVjYWQ3ZWYwZCIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzY4NjA0LTheXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_RSA=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiZDE4MWE0MDc1YTY1OTg5N2VlZWYyNjcxMDM2OGQ3MTBlYmI0NDEwZjNjMTNmMDZiMGZhN2NkM2RkZTgzMDhhZiIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzExNDg4LTReXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_SING_VACC=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiNzVjYWJiOTYzNmYyYWIwMzFmNTJhNmYzMGFlZWE0NDU0ODgxYmU1OTI3YjUxNTNhYzljODdiMTQ2MGVjZmI1MSIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzg3MjczLTleXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_CERT_VACC=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiMGNkM2E3YTNlMjI1MDY5YTVmMGJmMDYxMDAyNjc2NjMxYzNlNjAzNTk1YmFhMzhlZmI5NDllZmZiZDdhYTQ1ZSIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzgyNTkzLTVeXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE
JWT_WITH_HASH_VPS=FAKE_HEADER.eyJpc3MiOiAiMjAxMTIzNDU2IiwKImp0aSI6ICIxNTQwOTE4ODAwIiwKInN1YiI6ICJSU1NNUkEyMkEwMUEzOTlaXl5eJmFtcDsyLjE2Ljg0MC4xLjExMzg4My4yLjkuNC4zLjImYW1wO0lTTyIsCiJzdWJqZWN0X29yZ2FuaXphdGlvbl9pZCI6ICIxMjAiLAoic3ViamVjdF9vcmdhbml6YXRpb24iOiAiUmVnaW9uZSBMYXppbyIsCiJsb2NhbGl0eSI6ICJSZWdpb25lIExhemlvIiwKInN1YmplY3Rfcm9sZSI6ICJBQVMiLAoicGVyc29uX2lkIjogIlJTU01SQTIyQTAxQTM5OVoiLAoicGF0aWVudF9jb25zZW50IjogdHJ1ZSwKInB1cnBvc2Vfb2ZfdXNlIjogIlRSRUFUTUVOVCIsCiJhdHRhY2htZW50X2hhc2giOiAiYjc5YzhlNzQzZTkxODk2YTU1MGUyMjgyNDU2MjNkMTIyYmY2ZGMzYWNkZWE5OTkwNzg3ZDc0YzBmOTE2OTQwNSIsCiJyZXNvdXJjZV9obDdfdHlwZSI6ICIoJzU5MjU4LTReXjIuMTYuODQwLjEuMTEzODgzLjYuMScpIiwKImFjdGlvbl9pZCI6ICJDUkVBVEUifQ==.FAKE_SIGNATURE